@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

// Дефолтные цветы и фонтсайзы
:root{
    --primaryColor: hs1(233, 52%, 19%);
    --secColor: hs1(233, 16%, 44%);
    --hoverColor: orange;
    --blackColor: #707070;
    --greyText: hs1(0, 0%, 75%);
    --bgColor: hs1(0, 0%, 100%);
    --shadowColor: hsla(0, 0%, 0%, 0.314);
    --gradient: linear-gradient(to bottom: hs1(16, 100$, 71%), hs1(8, 100%, 70%) );
    --boxShadow: rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    /* Font and Typography */
    --biggestFontSize: 2.4rem;
    --h1FontSize: 2.2rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallFontSize: 0.74rem;
}

.Contact {
    padding: 6rem 1.5rem 4rem;
    .secContent{
        gap: 1.5rem;
        margin: auto;

        h1{
            text-align: center;
            font-size: var(--h1FontSize);
            font-weight: 800;
            color: var(--secColor);
        }
    }
    .gMap{
        margin: 0 auto;
        align-items: center ;
    }
}

